
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

$color: green;

body {
  color: $color;
}

h3 {
  margin-top: 0.5em;
}

.list_item_main {
  font-size: large;
  font-weight: bold;
  color: #141c3d;
}

.vocabulary_translation {
  font-size: large;
  font-weight: bold;
  color: #141c3d;
}

.picture_frame {
  outline: #FFF solid 0px;
  padding: 2px;
  width: 80px;
}

.frame_with_outline {
  outline: solid thin #8aa6c1;
}

.option_correct {
  background-color: #e6ffe6;
}

.option_incorrect {
  background-color: #ffe6e6;
}

.card_option {
  background-color: ivory;
  outline: solid thin #8aa6c1;
  display: block;
  margin: 0 auto;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 1em;
  padding: 1em;
}

.flash_card {
  padding: 15px;
  background-color: whitesmoke;
  outline: thin solid #666;
  -webkit-box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.5);
}

.flash_card_frame {
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 0px;
}

/* Begin Modal */
.modal_popup_background {
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  color: #b90808;
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  text-align: center;
  z-index: 1;
}
.modal_popup {
  font-family: "Raleway", sans-serif;
  width: 23em;
  height: 26em;
  background-color: white;
  margin: auto;
  margin-top: 10em;
  padding: 1em;
  outline: thin solid #666;
  -webkit-box-shadow: 0px 0px 40px -1px rgba(0,0,0,0.74);
  -moz-box-shadow: 0px 0px 40px -1px rgba(0,0,0,0.74);
  box-shadow: 0px 0px 40px -1px rgba(0,0,0,0.74);
}
.modal_popup_message {
  width: auto;
  height: 7em;
  margin-top: 2.5em;
  padding: 1em;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
}
.modal_popup_button {
  cursor: pointer;
  background-color: #2d862d;
  color: #b4e4b4;
  width: 100%;
  height: 2.2em;
  margin: auto;
  padding: 0.3em;
  font-size: xx-large;
  font-weight: bold;
  text-align: center;
  // outline: thin solid #235c23;
  border-radius: 10px;
}
/* End Modal */

.language_enabled {
  background-color: white;
}

.language_disabled {
  background-color: #DDD;
}

.language_switch {
  background-color: #99cb84;
  padding: 5px;
  margin-left: 2px;
  margin-right: 5px;
  display: inline;
  font-weight: bold;
  cursor: pointer;
}

.language_switch_disabled {
  background-color: #a94442;
  color: #e4b9b9;
}

.form_frame {
  padding: 1em;
  outline: thin dotted #bebebe;
  background-color: seashell;
}

.expand_collapse_button {
  cursor: pointer;
}

.expand_collapse_area {
  display: none;
}

.submit_button {
  background-color: darkslategray;
  color: lightgreen;
  font-weight: bold;
  border-radius: 10px;
  padding: 0;
}

.pagination {
  margin: 0;
}

.thumb_outer_div {
  float: right;
  width: 80px;
  padding: 2px;
  border: thin solid #999
}

.thumb_inner_div {
  overflow: hidden;
  text-align: center;
}
