
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

$color: green;

body {
  color: $color;
}

.list_item_main {
  font-size: large;
  font-weight: bold;
  color: #141c3d;
}

.vocabulary_translation {
  font-size: large;
  font-weight: bold;
  color: #141c3d;
}

.picture_frame {
  outline: #FFF solid 0px;
  padding: 2px;
  width: 80px;
}
